<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>
<![CDATA[ https://cdn.jsdelivr.net/gh/8ww/cdn@master/A/TrollInstallerX.ipa ]]>
</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>ci.nn.TrollInstallerX_1.0.3</string>
<key>bundle-version</key>
<string>4.4</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>TrollInstallerX_1.0.3</string>
</dict>
</dict>
</array>
</dict>
</plist>